.env
node_modules/
artifacts/
cache/
typechain-types/
coverage/
coverage.json
dist/
.venv/
__pycache__/
*.pyc
.openzeppelin/
deployments/

*.log

scripts/imageCIDs.json
scripts/tokenURIs.json
scripts/attributes.json
